.cardcenter {
    text-align: center;
}

.projectcard {
    width: 300px;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 10px;
    transition: all .2s ease;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);

}

.projectcard:hover,
.projectcard.hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.projectcard:hover .projectcard-content,
.projectcard.hover .projectcard-content {
    box-shadow: inset 0 3px 0 0 #ccb65e;
    border-color: #ccb65e;
}

.projectcard:hover .projectcard-img .overlay,
.projectcard.hover .projectcard-img .overlay {
    background-color: rgba(25, 29, 38, 0.85);
    transition: opacity .2s ease;
    opacity: 1;
}

.projectcard-img {
    position: relative;
    height: 224px;
    width: 100%;
    background-color: #fff;
    transition: opacity .2s ease;
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;

}

.projectcard-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
}

.projectcard-img .overlay .overlay-content {
    line-height: 224px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.projectcard-img .overlay .overlay-content a {
    color: #fff;
    padding: 0 2rem;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.projectcard-img .overlay .overlay-content a:hover,
.projectcard-img .overlay .overlay-content a.hover {
    background: #ccb65e;
    border-color: #ccb65e;
}

.projectcard-content {
    width: 100%;
    /* min-height: 104px; */
    background-color: var(--projectcard-color);
    /* border-top: 1px solid #e0e5e9; */
    padding: 1rem 2rem;
    transition: all .2s ease;
}

.projectcard-content a {
    text-decoration: none;
    color: #202927;
}

.projectcard-content h2,
.projectcard-content a h2 {
    font-size: 1rem;
    font-weight: 500;
}

.projectcard-content p,
.projectcard-content a p {
    font-size: 0.9rem;
    font-weight: 400;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cardfont-color);
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

small {
    color: var(--smallcardfont-color);
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    background: var(--projectcard-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-close {
    color: #6f6f6f;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    transition: 0.3s;
}

.modal-close:hover {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .cardcenter {
        text-align: center;
    }

    .projectcard {
        width: 100%;
        display: inline-block;
        margin-top: 1rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 0rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 10px;
        transition: all .2s ease;
        position: relative;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        -webkit-box-shadow: var(--box-shadow);

    }

    .projectcard:hover,
    .projectcard.hover {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
    }

    .projectcard:hover .projectcard-content,
    .projectcard.hover .projectcard-content {
        box-shadow: inset 0 3px 0 0 #ccb65e;
        border-color: #ccb65e;
    }

    .projectcard:hover .projectcard-img .overlay,
    .projectcard.hover .projectcard-img .overlay {
        background-color: rgba(25, 29, 38, 0.85);
        transition: opacity .2s ease;
        opacity: 1;
    }

    .projectcard-img {
        position: relative;
        height: 224px;
        width: 100%;
        background-color: #fff;
        transition: opacity .2s ease;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .projectcard-img .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
    }

    .projectcard-img .overlay .overlay-content {
        line-height: 224px;
        width: 100%;
        text-align: center;
        color: #fff;
    }

    .projectcard-img .overlay .overlay-content a {
        color: #fff;
        padding: 0 2rem;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.4);
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
    }

    .projectcard-img .overlay .overlay-content a:hover,
    .projectcard-img .overlay .overlay-content a.hover {
        background: #ccb65e;
        border-color: #ccb65e;
    }

    .projectcard-content {
        width: 100%;
        /* min-height: 104px; */
        background-color: var(--projectcard-color);
        /* border-top: 1px solid #E9E9EB; */
        padding: 1rem 2rem;
        transition: all .2s ease;
    }

    .projectcard-content a {
        text-decoration: none;
        color: #202927;
    }

    .projectcard-content h2,
    .projectcard-content a h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    .projectcard-content p,
    .projectcard-content a p {
        font-size: 0.9rem;
        font-weight: 400;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--cardfont-color);
    }

    .modal-window div:not(:last-of-type) {
        margin-bottom: 15px;
    }

    small {
        color: var(--smallcardfont-color);
    }

    .modal-window {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s;
    }

    .modal-window:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-window>div {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding-top: 3em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 3em;
        background: var(--projectcard-color);
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        -webkit-box-shadow: var(--box-shadow);
    }

    .modal-window header {
        font-weight: bold;
    }

    .modal-window h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }

    .modal-close {
        color: #6f6f6f;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
        transition: 0.3s;
    }

    .modal-close:hover {
        color: #aaa;
        text-decoration: none;
        transition: 0.3s;
    }
    
    .modal-window p {
      font-size: 12px;
    }
}

@media screen and (max-width: 568px) {
  .modal-window p {
    font-size: 10px;
  }
}

@media screen and (max-width: 2560px) and (min-width: 2500px) {
  .modal-window>div {
      width: 400px;
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
      background: var(--projectcard-color);
      border-radius: 5px;
      box-shadow: var(--box-shadow);
      -webkit-box-shadow: var(--box-shadow);
  }
}