// section:not(.rolling-text, .hero) {
//     max-width: 1800px;
//     width: 100%;
// }

// body {
//     &.loading {
//         .rolling-text, .introduction, .footer-sticky {
//             display: none;
//         }
//     }

//     &.loaded {
//         .rolling-text, .introduction, .footer-sticky {
//             display: block;
//         }
//     }
// }

.hero {
    // border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: $dust;
    // height: 200vh;
    color: $forest-green;
    padding: 0 5rem;
    height: calc(100vh - 68px);
    align-items: center;
    display: flex;
    transform: scale(0.8) translateY(100%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0;
    width: 100%;

    @media (max-width: 1024px) {
        height: auto;
        padding: 6rem 3rem;
    }

    @media (max-width: 480px) {
        padding: 4rem 2rem;
        // border-radius: 20px;
    }

    .hero-title {

        .hide {
            overflow: hidden;
        }

        h1 {
            font-size: 9.5rem;
            line-height: 8rem;
            text-transform: uppercase;
            font-family: $grotesk;
            font-weight: 600;
            // overflow: hidden;

            @media (max-width: 1366px) {
                font-size: 7rem;
                line-height: 5.5rem;
            }

            @media (max-width: 1024px) {
                font-size: 5rem;
                line-height: 4.5rem;
            }

            @media (max-width: 480px) {
                font-size: 2.75rem;
                line-height: 2rem;
            }

            .my-name {}

            .code {
                background-color: #282c34;
                border-radius: 25px;
                color: #f1f1f1;
                display: inline-block;
                font-family: Fira Code, Times, Helvetica, sans-serif;
                font-size: 6rem;
                height: 8rem;
                letter-spacing: -0.5rem;
                line-height: 8rem;
                padding-right: 10px;
                text-transform: none;
                vertical-align: 15px;
                font-weight: 500;

                @media (max-width: 1366px) {
                    border-radius: 20px;
                    font-size: 4.5rem;
                    height: 6rem;
                    letter-spacing: -5.5px;
                    line-height: 6.3rem;
                }

                @media (max-width: 1024px) {
                    border-radius: 15px;
                    font-size: 3rem;
                    height: 5rem;
                    line-height: 5.3rem;
                    vertical-align: 5px;
                }

                @media (max-width: 480px) {
                    border-radius: 8px;
                    font-size: 1.75rem;
                    height: 2.75rem;
                    letter-spacing: -3.5px;
                    line-height: 2.75rem;
                    padding-right: 5px;
                }

                .curly-brace {
                    color: #03ACF0;
                }
            }

            &.jacktus {
                font-family: 'Instrument Serif', Arial, Helvetica, sans-serif;
                font-size: 30px;
                font-weight: 300;
                line-height: 60px;
                font-style: italic;
                text-transform: none;
                color: #03ACF0;
            }



            .highlight {
                color: #fff;

                --text-border-width: 2px;
                -webkit-text-fill-color: #fff;
                -webkit-text-stroke-width: var(--text-border-width);

                &.blue {
                    text-shadow: 0 5px 0 $steel-blue;
                    -webkit-text-stroke-color: $steel-blue;
                }

                &.green {
                    text-shadow: 0 5px 0 $sea-green;
                    -webkit-text-stroke-color: $sea-green;
                }
            }


        }

        .hero-intro {
            margin: 1rem 0 0;
            color: $forest-green;
            overflow: hidden;
            font-kerning: none;
            font-size: clamp(1.25rem, 0.8979rem + 1.1268vw, 2.25rem);
            line-height: 40px;
            font-weight: 400;
            max-width: 1100px;
            width: 100%;
            margin-top: 50px;
            // position: absolute;
            // bottom: 50px;
            // left: 50px;
            // text-align: right;

            @media (max-width: 1366px) {
                font-size: 1.4rem;
                line-height: 26px;
                max-width: 900px;
            }

            @media (max-width: 1024px) {
                font-size: 1rem;
                line-height: 20px;
                max-width: 600px;
                margin-top: 30px;
            }

            @media (max-width: 480px) {
                line-height: 14px;
                font-size: 12px;
                max-width: 400px;
                margin-top: 15px;
            }

            span,
            b {
                font-weight: 500;

                .word {
                    text-decoration: underline;
                }
            }

            .line,
            .word {
                overflow: hidden;

            }

            .word {
                overflow: hidden;
            }
        }

        h5 {
            position: relative;
            display: inline-block;

            .mama,
            .tooltip-trigger {
                font-size: 42px;
                font-weight: 700;
            }

            .mama {
                vertical-align: sub;
                font-family: $gambarino;
            }

            a {
                img {
                    width: 40px;
                }
            }
        }


    }

    .hero-tooltip {
        display: inline-block;

        border: 2.5px solid transparent;
        box-shadow: 0 5px 0 transparent;
        max-width: 0;
        padding: 14px 0;
        width: auto;

        position: absolute;
        right: -1.5%;
        transform: translate(100%, 0%);
        bottom: 0;
        transition: all 0.85s cubic-bezier(0.83, 0, 0.17, 1);
        overflow: hidden;
        border-radius: 50px;
        overflow: hidden;

        &.show {
            max-width: 500px;
            padding: 14px 24px;
            border: 2.5px solid $piction-blue;
            box-shadow: 0 5px 0 $steel-blue;
            width: auto;
            transition: all 0.85s cubic-bezier(0.83, 0, 0.17, 1);

            p {}
        }

        p {
            background-color: transparent;
            color: $piction-blue;
            font-size: 13px !important;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
        }

    }

    .tooltip-trigger {
        color: $soft-red;

        img {
            filter: invert(0);
            transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
        }

        &:hover {

            img {
                filter: invert(1);
                transition: all 0.4s cubic-bezier(0.83, 0, 0.17, 1);
            }
        }
    }

    .hero-portrait {
        padding: 0;
        width: 250px;
        margin-top: 2rem;

        position: absolute;
        right: 4%;
        top: 2%;

        .portrait-holder {
            padding-top: 2rem;
            border: 5px solid #000;
            border-radius: 30px;
            background-color: #c4ff99;

            img {
                z-index: 1;
                position: relative;
                border-radius: 20px;
            }

            .eyes {
                display: flex;
                justify-content: space-between;
                left: 33%;
                position: absolute;
                top: 39.5%;
                width: 88px;
                transform: rotate(-1deg);

                .eye {
                    display: block;
                    height: 30px;
                    position: relative;
                    width: 30px;
                    box-shadow: 0px 0px 5px 10px rgba(117, 37, 0, 0.55) inset;
                    background-color: $dust;

                    &:before {
                        background-size: cover;
                        box-sizing: border-box;
                        content: "";
                        height: 13px;
                        left: 21px;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 13px;
                        z-index: -1;
                        background-image: url('../../assets/images/eyeball.png');
                    }
                }
            }
        }
    }
}

.rolling-text {
    position: relative;
    overflow: hidden;

    .rolling-text-wrapper {
        display: flex;
        overflow: hidden;

        .rolling-text-item {
            flex: 0 0 auto;
            white-space: nowrap;
            padding: 0 40px;

            @media (max-width: 480px) {
                padding: 0 20px;
            }

            h3 {
                font-size: clamp(8rem, 5.8873rem + 6.7606vw, 14rem);
                font-family: $grotesk;
                text-transform: uppercase;

                @media (max-width: 1024px) {
                    font-size: clamp(4rem,5.8873rem + 6.7606vw,5rem);
                }
            }

            &.scrolling-dots {
                display: flex;
                align-items: center;
                font-size: 2rem;
                color: $lemonade;

                @media (max-width: 480px) {
                    i {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

.introduction {
    // max-width: 1800px;
    width: 95%;
    margin: 0 auto;

    background-color: $lemonade;
    border-radius: 50px;
    color: $forest-green;
    position: relative;
    z-index: 5;

    .introduction-wrapper {
        padding: 10rem 4rem;

        @media (max-width: 1024px) {
            padding: 10rem 2rem;
        }

        @media (max-width: 480px) {
            padding: 4rem 1rem;
        }

        .row {
            // display: flex;
            // align-items: center;

            flex-direction: column;
        }

        .flex-col {
            &:nth-child(1) {
                width: 60%;

                @media (max-width: 1680px) {
                    width: 80%;
                }

                @media (max-width: 480px) {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 100%;
                display: flex;
                // justify-content: end;
                flex-direction: row;
                align-items: start;
                justify-content: space-between;
                margin-top: 10rem;

                @media (max-width: 480px) {
                    margin-top: 5rem;
                    flex-direction: column;
                }
            }

            h2 {
                font-size: clamp(2.5rem, 7vw, 6.25rem);
                font-weight: 600;
                line-height: 1;
                margin-bottom: 2rem;

                @media (max-width: 1680px) {
                    font-size: clamp(2.5rem, 7vw, 5.25rem);
                }

                @media (max-width: 1440px) {
                    font-size: clamp(2.5rem, 7vw, 4.25rem);
                }

                @media (max-width: 1024px) {
                    font-size: clamp(2.5rem, 7vw, 3.25rem);
                }
            }

            h4 {
                font-size: clamp(2rem, 1.6479rem + 1.1268vw, 3rem);

                @media (max-width: 1024px) {
                    font-size: clamp(1rem, 1.6479rem + 1.1268vw, 1.75rem);
                }

                @media (max-width: 1024px) {
                    sup {
                        font-size: 10px !important;
                    }
                }

                a {
                    border-radius: 10px;
                    padding: 5px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $lemonade;
                        background-color: $forest-green;
                        transition: all 0.3s ease-in-out;
                    }
                }

                .line {
                    .word {
                        // text-decoration: underline;
                    }

                    a {
                        .word {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .skills-box {
                height: 280px;
                width: auto;
                flex-wrap: wrap;
                display: flex;
                flex-direction: column;
                gap: 0px 40px;

                @media (max-width: 1024px) {
                    height: 145px;
                }

                @media (max-width: 480px) {
                    flex-direction: column;
                    gap: 0 20px;
                    height: 300px;
                    width: 100%;
                }

                span {
                    font-size: 1.4rem;
                    display: block;
                    text-align: right;

                    @media (max-width: 1024px) {
                        font-size: 1rem;
                        line-height: 20px;
                        text-align: left;
                    }

                    @media (max-width: 480px) {
                        font-size: 14px;
                    }
                }
            }

        }
    }

    .works-wrapper {
        padding: 0 4rem 10rem;
        // height: 100vh;
        position: relative;

        @media (max-width: 1024px) {
            padding: 0 2rem 10rem;
        }

        @media (max-width: 480px) {
            padding: 0 1rem 4rem;
        }

        h2 {
            font-size: clamp(2.5rem, 7vw, 6.25rem);
            line-height: 1;
            margin-bottom: 2rem;
            font-weight: 600;

            @media (max-width: 1680px) {
                font-size: clamp(2.5rem, 7vw, 5.25rem);
            }

            @media (max-width: 1440px) {
                font-size: clamp(2.5rem, 7vw, 4.25rem);
            }

            @media (max-width: 1024px) {
                font-size: clamp(2.5rem, 7vw, 3.25rem);
            }

            span {
                color: rgba(20, 52, 43, 0.5);
            }
        }

        .instructions-text {
            color: #000;
            font-size: clamp(1.25rem, -0.0264rem + 4.0845vw, 4.875rem);
            font-weight: 700;
            left: 0%;
            margin: 0 auto;
            opacity: .05;
            position: absolute;
            text-align: center;
            top: 0;
            width: 50%;

            @media (max-width: 1024px) {
                width: 48%;
            }

            @media (max-width: 480px) {
                display: none;
            }
        }

        .work-item {
            width: 100%;
            border: solid $forest-green;
            border-width: 3px 0 0;
            display: flex;
            align-items: center;
            padding: 10px;

            .work-name {
                width: 40%;
                font-size: 3rem;
                line-height: 3.5rem;
                font-weight: 500;

                span {
                    font-size: 1.4rem;
                    font-weight: 500;
                    vertical-align: middle;
                    text-decoration: underline;
                }
            }

            .work-stack {
                width: 60%;

                span {
                    // border: 1px solid $forest-green;
                    border-radius: 50px;
                    padding: .25rem 1rem;
                    font-size: 1.4rem;
                    color: #000;
                    font-weight: 500;
                    margin: 0 5px;

                    &.green {
                        background-color: #4af7b2;
                    }

                    &.blue {
                        background-color: #B4E9F5;
                    }

                    &.red {
                        background-color: #F5B4B4;
                    }

                    &.yellow {
                        background-color: #F5F5B4;
                    }
                }
            }
        }

        .card-instructions {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%, -50%);

            i {
                font-size: 20rem;
            }
        }

        .card-stack-wrapper {
            position: relative;
            padding-top: 15%;

            @media (max-width: 480px) {
                padding-top: 0;
            }

            .card-stack-item {

                width: 50%;
                padding: 1.5rem;
                margin-top: -15%;
                position: relative;
                border-radius: 30px;
                cursor: pointer;
                transform: translateX(100%);
                // box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
                transition: all 0.3s ease-in-out;

                @media (max-width: 1024px) {
                    padding: 1rem;
                }

                @media (max-width: 480px) {
                    width: 100%;
                    transform: translateX(0);
                    margin-top: 10px;
                    
                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }
                &.celcom {
                    background-color: #001871;

                    .work-details {

                        .work-title-desc,
                        .work-tech {

                            h3,
                            p {
                                color: #FDDE32;
                            }
                        }

                        li {
                            border: 1px solid #FDDE32;
                            color: #FDDE32;

                            &:hover {
                                background-color: #FDDE32;
                                color: #001871;
                            }
                        }

                    }
                }

                &.mastercard {
                    background-color: #F2BF25;

                    .work-details {

                        .work-title-desc,
                        .work-tech {

                            h3,
                            p {
                                color: #2e2e2e;
                            }
                        }

                        li {
                            border: 1px solid #2e2e2e;
                            color: #2e2e2e;

                            &:hover {
                                background-color: #2e2e2e;
                                color: #fff;
                            }
                        }
                    }
                }

                &.tohtonku {
                    background-color: #DEDDD4;

                    .work-details {

                        .work-title-desc,
                        .work-tech {

                            h3,
                            p {
                                color: #3F2B2D;
                            }
                        }

                        li {
                            border: 1px solid #3F2B2D;
                            color: #3F2B2D;

                            &:hover {
                                background-color: #3F2B2D;
                                color: #fff;
                            }
                        }
                    }
                }

                &.coway {
                    background-color: #03ACF0;

                    .work-details {

                        .work-title-desc,
                        .work-tech {

                            h3,
                            p {
                                color: #fff;
                            }
                        }

                        li {
                            border: 1px solid #fff;
                            color: #fff;

                            &:hover {
                                background-color: #fff;
                                color: #03ACF0;
                            }
                        }

                    }
                }

                &.novo-nordisk {
                    background-color: #ff81e0;

                    .work-details {

                        .work-title-desc,
                        .work-tech {

                            h3,
                            p {
                                color: #1c41d4;
                            }
                        }

                        li {
                            border: 1px solid #1c41d4;
                            color: #1c41d4;

                            &:hover {
                                background-color: #1c41d4;
                                color: #ff81e0;
                            }
                        }

                    }
                }

                &.jaecoo {
                    background-color: #0C242A;

                    .work-details {

                        .work-title-desc,
                        .work-tech {

                            h3,
                            p {
                                color: #39a0b9;
                            }
                        }

                        li {
                            border: 1px solid #39a0b9;
                            color: #39a0b9;

                            &:hover {
                                background-color: #39a0b9;
                                color: #0C242A;
                            }
                        }

                    }
                }

                &.active {
                    transform: translateX(-3%);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: translateX(-3%);
                    }
                }

                &:hover {
                    transform: translateX(95%);
                    transition: all 0.3s ease-in-out;
                }

                .card-stack {
                    display: flex;
                    gap: 1.5rem;

                    @media (max-width: 1024px) {
                        gap: 0.5rem;
                    }

                    .work-thumbnail {
                        // width: 250px;
                        // height: 250px;

                        width: 50%;

                        img {
                            border-radius: 20px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .work-details {
                        width: 50%;

                        .work-title-desc {
                            h3 {
                                font-size: clamp(1.75rem, -0.0264rem + 4.0845vw, 3.25rem);
                                font-weight: 600;
                                margin-bottom: 0;
                                line-height: 1;

                                @media (max-width: 1680px) {
                                    font-size: clamp(1.75rem, -0.0264rem + 4.0845vw, 2.75rem);
                                }

                                @media (max-width: 1440px) {
                                    font-size: clamp(1.75rem, -0.0264rem + 4.0845vw, 2rem);
                                }

                                @media (max-width: 1024px) {
                                    font-size: clamp(1.75rem, -0.0264rem + 4.0845vw, 1rem);
                                }
                            }

                            p {
                                font-weight: 400;
                                text-decoration: underline;
                                text-decoration-thickness: 2px;
                                text-underline-offset: 5px;
                                margin-bottom: 10px;

                                @media (max-width: 1440px) {
                                    font-size: 17px;
                                }

                                @media (max-width: 1024px) {
                                    font-size: 15px;
                                }
                            }
                        }

                        .work-tech {
                            ul {
                                list-style: none;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;

                                li {
                                    padding: 4px 15px 4px 8px;
                                    // background-color: transparent;
                                    display: inline;
                                    border-top-left-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                    border-top-right-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                    cursor: pointer;
                                    margin-bottom: 10px;
                                    transition: all 0.3s ease-in-out;

                                    @media (max-width: 1024px) {
                                        font-size: 14px;
                                        margin-bottom: 3px;
                                        padding: 1px 10px 1px 5px;
                                    }

                                    @media (max-width: 1024px) {
                                        font-size: 10px;
                                        margin-bottom: 3px;
                                    }

                                    i {
                                        font-size: 5px;
                                        margin-right: 3px;
                                        vertical-align: middle;
                                        line-height: 0px;

                                    }

                                    &:not(:last-child) {
                                        margin-right: 10px;
                                    }

                                    &:hover {
                                        border-top-left-radius: 8px;
                                        border-bottom-left-radius: 8px;
                                        transition: all 0.3s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.additional-section {
    // height: 150vh;
    background-color: $lemonade;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: 4;
    // margin-top: -50px;
    // padding-top: calc(50px + 10rem);
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100% !important;

    .additional-section-container {
        .area-of-expertise-title {
            color: $forest-green;
            font-weight: 700;
            font-size: clamp(2.5rem, 7vw, 6.25rem);
            text-align: center;

            span {
                color: rgba(20, 52, 43, .5);
            }
        }

        .additional-section-wrapper {
            background-color: $forest-green;
            border-radius: 50px;

            .area-of-expertise-wrapper {
                // padding: 3rem;
                height: 500px;
            }
        }
    }
}

.footer {
    // background-color: #fcfbf5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 4rem 2rem;

    .footer-container {
        height: 100%;
        display: flex;
        align-items: end;
        width: 100%;

        .footer-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 50%;
            width: 100%;

            .email-wrapper {
                transform: translateY(-50%);

                p,
                h2 {
                    color: $forest-green;
                }

                p {
                    font-size: 20px;
                    opacity: 0.5;
                    font-weight: 700;
                    margin: 0;

                    @media (max-width: 480px) {
                        font-size: 16px;
                    }
                }

                h2 {
                    font-size: 90px;
                    font-weight: 500;

                    @media (max-width: 480px) {
                        font-size: clamp(1.75rem,-.2905rem + 4.9296vw,5.625rem);
                    }
                }
            }

            .copyright-wrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;

                span {
                    opacity: 0.5;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }

    .fa-seal {
        font-size: 15rem;
        color: $forest-green;
    }
}

.footer-sticky {
    // background-color: #fcfbf5;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    position: relative;
    bottom: 0;
    z-index: 0;
    width: 100%;
    // position: relative;

    &.stickem {
        position: sticky;
    }


    .footer-container {
        height: 100%;
        display: flex;
        align-items: end;
        width: 100%;
        padding: 8rem 4rem 1rem;

        @media (max-width: 480px) {
            padding: 4rem 2rem 1rem;
        }

        .footer-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 50%;
            width: 100%;

            .email-wrapper {

                padding-bottom: 8rem;

                p,
                h2 {
                    // color: $beige;
                }

                p {
                    font-size: 20px;
                    opacity: 0.5;
                    font-weight: 700;
                    margin: 0;

                    @media (max-width: 480px) {
                        font-size: 16px;
                    }
                }

                .footer-email {
                    font-size: 90px;
                    font-weight: 500;
                    display: block;
                    line-height: 98px;

                    @media (max-width: 480px) {
                        font-size: clamp(1.75rem,-.2905rem + 4.9296vw,5.625rem);
                        line-height: 36px;
                    }
                }

                .contact-number {
                    font-weight: 500;
                    font-size: 1.75rem;
                    opacity: 0.5;
                    color: #fff;
                    display: block;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        opacity: 1;
                        color: $lemonade;
                        transition: all 0.3s ease-in-out;
                    }

                    @media (max-width: 480px) {
                        font-size: 1.25rem;
                    }
                }

                .footer-cta-wrapper {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    width: 50%;
                    margin: 2rem auto 0;

                    @media (max-width: 480px) {
                        width: auto;
                    }

                    .footer-cta {
                        color: #fff;
                        opacity: 0.5;
                        font-size: 24px;
                        font-weight: 400;
                        transition: all 0.3s ease-in-out;

                        @media (max-width: 480px) {
                            font-size: 16px;
                        }

                        i {
                            font-size: 15px;
                            line-height: 1;
                            margin-right: 5px;
                            vertical-align: middle;
                            top: -3px;
                            position: relative;
                            color: $lemonade;
                        }

                        &:hover {
                            color: #fff;
                            opacity: 1;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }

            .copyright-wrapper {
                display: flex;
                justify-content: space-between;
                width: 100%;

                span {
                    opacity: 0.5;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}