* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // cursor: none;
}

html {
  scroll-behavior: smooth;
  // cursor: none;

  body {
    padding: 0;
    font-family: $syedsans;
    background-color: $forest-green;
    color: $beige;
  }
}

html {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}

html body::-webkit-scrollbar {
  display: none;
}

// browser
html {
  // firefox
  scrollbar-width: none !important;

  // IE, Edge
  -ms-overflow-style: none;
}

html body::-webkit-scrollbar {
  // safari
  display: none;
}

main {
  // margin-top: 68px;
  position: relative;
  z-index: 999;
}

canvas {
  display: block;
}

@include xl-desktop {
  .container {
    max-width: 1650px;
  }
}

h1 {
  font-size: 10rem;
}

p {
  font-size: clamp(12px, 2.03704vh, 600px);
  color: $white;
}

a,
a[href^="tel"],
a[href^="mailto"] {
  color: inherit;
  /* Inherit text color of parent element. */
  text-decoration: none;
  /* Remove underline. */
}

// FontAwesome CSS
.icon {
  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
  }
}

.rotate {
  animation: rotating 3s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-cursor,
.custom-cursor-dot {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

.custom-cursor {
  width: 0;
  height: 0;
  background-color: #e6cf8b;
  box-shadow: 0 0 0 0 transparent, inset 0em -0.3em 0.4em 0.2em #ca9e03a6;
  border-radius: 50%;
}

.custom-cursor-dot {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  border-radius: 50px;
  box-shadow: 0 6px 0 0px #000;
  background-color: $dust;
}

//Lenis
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.circle {
  background-color: $lemonade;
  border-radius: 100%;
  font-size: 13px;
  color: $lemonade;


  box-shadow: 0 0 0 0 $lemonade;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    // font-size: 8px;
    box-shadow: 0 0 0 0 rgba(206, 234, 104, 0.8);
  }

  70% {
    // font-size: 10px;
    box-shadow: 0 0 0 10px rgba(252, 3, 3, 0);
  }

  100% {
    // font-size: 8px;
    box-shadow: 0 0 0 0 rgba(252, 3, 3, 0);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db; /* Spinner color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}