$font-path: '../fonts/';

$lexend: 'Lexend', Arial, Helvetica, sans-serif;
$pirata: 'Pirata One', Arial, Helvetica, sans-serif;
$inter: 'Inter Tight', Arial, Helvetica, sans-serif;
$satoshi: 'Satoshi', Arial, Helvetica, sans-serif;
$gambarino: 'Gambarino', Arial, Helvetica, sans-serif;
$grotesk: "Grotesk", Times, Helvetica, sans-serif;
$firacode: "Fira Code", Times, Helvetica, sans-serif;
$nimbussans: "Nimbus Sans L", Times, Helvetica, sans-serif;
$syedsans: "Syed Sans", Arial, Helvetica, sans-serif;

$red: #D8293A;
$beige: #fbe8cc;
$white: #fff;
$dust: #FCFBF5;

$sea-green: #00916E;
$forest-green: #14342B;
$lime-green: #c4ff99;
$lemonade: #CDEA68;
$piction-blue: #00A6FB;
$steel-blue: #0582CA;
$lavender: #E9E6FF;
$soft-red: #BC4749;

$small-device: 576px;
$tablet-width: 768px;
$xl-tablet-width: 992px;
$desktop-width: 1200px;
$xl-desktop-width: 1400px;